<%= include ../partials/top %>

<main>
        <div class="jumbotron">
            <h1>404: Page not found!</h1>
            <p>The page you are looking for has been moved or does not exist.</p>
        </div>
    </main>

<%= include ../partials/bottom %>