<!-- views/pages/index.ejs -->
<%= include ../partials/top %>

<main>
    <div class="jumbotron">
        <h1>Welcome to Love can't Weight</h1>
        <p>The dating site for gymmembers around the world looking for shredding partners!</p>
    </div>
</main>

<%= include ../partials/bottom %>