<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2019 Love can't Weight. Made by <a href="https://roberwt.nl/cmda/">Robert Hoekstra</a></p>
<script src='/js/jquery/dist/jquery.js'></script>
<script src='/js/main.js'></script>