<%= include ../partials/top %>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </div>

    <% include ../partials/register-form %>

</main>

<%= include ../partials/bottom %>