<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to Love can't Weight</h1>
        <p>The dating site for gymmembers around the world looking for shredding partners!</p>

        <h2>Variable</h2>
        <p><%= tagline %></p>

        <h2>Loop</h2>
        <ul>
            <% drinks.forEach(function(drink) { %>
            <li><%= drink.name %> - <%= drink.drunkness %></li>
            <% }); %>
        </ul>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>