<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>


<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Register now!</h3>
            <form method="POST", action="/register">
                <div id="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control", name="username">
                </div>
                <div id="form-group">
                        <label>First Name<label>
                        <input type="text" class="form-control", name="firstName">
                    </div>
                <div id="form-group">
                        <label>Last Name<label>
                        <input type="text" class="form-control", name="lastName">
                </div>
                <div id="form-group">
                        <label>Age<label>
                        <input type="text" class="form-control", name="age">
                </div>
                <div id="form-group">
                        <label>Gender<label>
                        <input type="text" class="form-control", name="gender">
                </div>
                <input class="btn" class="btn-primary" type="submit" value="submit">
            </form>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>