<%= include ../partials/top %>

<main>
    <div class="row">
        <div class="col-sm-8">    
            <div class="jumbotron">
                    <li><a class="btn" class="btn-default" href="/profile/edit-profile/<%= members._id %>">Edit Profile</a></li>
                    <li><a class="btn" class="btn-default" href="/profile/delete/<%= members._id %>">Delete Profile</a></li>
            </div>
        </div>

</div>
</main>
<%= include ../partials/bottom %>