<!-- views/pages/index.ejs -->
<%= include ../partials/top %>

<main>
    <div class="jumbotron">
        <h1>Welcome to Love can't Weight</h1>
        <p>The dating site for gymmembers around the world looking for shredding partners!</p>
        <img src="https://images.unsplash.com/photo-1520948013839-62020f374478?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80">
        <h2>Become an Iron Hero!</h2>
        <p>Go to the registering section and become an Iron Hero!</p>
        <h2>Already have an account?</h2>
        <p> Go to the <a href="/users/login">login </a> section and start shredding!</p>
    </div>
</main>

<%= include ../partials/bottom %>